* {
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: rgb(53, 0, 53);
  --color-primary-light: rgb(59, 3, 41);
  --gray-light: #dfdfdf;
  --gray-light1: #fafafa;
  --gray-light3: #f1f1f1;
  --gray1: #555;
  --gray2: #666;
  --gray3: #777;
  --shadow: 0 4rem 6rem rgba(0, 0, 0, .3) ;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: "Muli", sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary));
  font-weight: 400;
  line-height: 1.6;
  background-repeat: no-repeat;
  color: var(--gray3);
  min-height: 100vh;
}

.container {
  width: 90vw;
  min-height: 60vh;
  margin: 4rem auto;
  box-shadow: var(--shadow);
}

.top-section {
  background-color: #fff;
  width: 100%;
  height: 7rem;
  display: flex;
  justify-content: space-between;
}

.content {
  display: flex;
  height: 60rem;
}

.navbar-left {
  background-color: var(--gray1);
  min-width: 20%;
  flex: 0 0 20%;
  height: 100%;
}

.main-content {
  background-color: var(--gray-light1);
  flex: 1;
}

.logo {
  margin-left: 2rem;
  width: 5rem;
  height: 100%;
  display: flex;
  align-items: center;
}
.logo-svg {
  width: 7rem;
  fill: var(--gray3);
}

.search {
  flex: 0 0 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search__input {
  height: 50%;
  flex: 0 1 65%;
  font-family: inherit;
  font-family: inherit;
  padding: 0.5rem 1rem;
  background-color: var(--gray-light1);
  border: none;
  border-radius: 5rem 0 0 5rem;
  transition: all 0.3s;
}
.search__input:focus {
  flex: 1 1 85%;
  outline: none;
  background-color: var(--gray-light3);
}
.search__input::placeholder, .search__input::-webkit-input-placeholder {
  font-family: inherit;
  color: var(--gray-light);
  font-weight: 600;
}
.search__input:focus + .search__button {
  background-color: var(--gray-light3);
}
.search__button {
  height: 50%;
  flex: 0 0 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 5rem 5rem 0;
  border: none;
  background-color: var(--gray-light1);
}
.search__button:active, .search__button:focus {
  outline: none;
}
.search__button--icon {
  width: 2rem;
  height: 2rem;
  fill: var(--gray3);
}

.usernav {
  flex: 0 0 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 2rem;
}
.usernav > * {
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
}
.usernav-iconbox {
  position: relative;
  flex: 1 0 2rem;
}
.usernav-iconbox--icon {
  fill: var(--gray3);
  width: 3rem;
  height: 3rem;
}
.usernav-iconbox:hover {
  background-color: var(--gray-light3);
}
.usernav-notification {
  background-color: #df0000;
  color: #fff;
  position: absolute;
  top: 1rem;
  left: 50%;
  padding: 0.5rem;
  border-radius: 3rem;
  flex: 1 0 auto;
}
.usernav__user {
  width: 6rem;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.usernav__user_imgcontainer {
  align-self: stretch;
}
.usernav__user_imgcontainer:hover {
  background-color: var(--gray-light3);
}
.usernav__user--img {
  width: 100%;
}

.navbar-left {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}
.navbar-left_list {
  list-style: none;
}
.navbar-left_list_li {
  background-color: whitesmoke;
  display: flex;
  margin: 1rem 0;
  height: 4rem;
  align-items: center;
}
.navbar-left_list_link {
  text-decoration: none;
  color: var(--gray1);
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
}
.navbar-left_icon {
  fill: var(--gray3);
  margin: 0 1rem;
  width: 2rem;
  height: 2rem;
}

/*# sourceMappingURL=styles.css.map */
