//////////////////////////////
//logo
.logo {
    margin-left: 2rem;
    width: 8rem;
    height: 100%;
    display: flex;
    align-items: center;


    &-svg {
        width: 8rem;
        fill: var(--gray3);
    }
}


//////////////////////////////
//FORM
.search {
    flex: 0 0 60%;
    display: flex;
    align-items: center;
    justify-content: center;



    &__input {
        height: 50%;
        flex: 0 1 65%;
        font-family: inherit;
        font-family: inherit;
        padding: .5rem 1rem;
        background-color: var(--gray-light1);
        border: none;
        border-radius: 5rem 0 0 5rem;
        transition: all .3s;

        &:focus {
            flex: 1 1 85%;
            outline: none;
            background-color: var(--gray-light3);
        }



        &::placeholder,
        &::-webkit-input-placeholder {
            font-family: inherit;
            color: var(--gray-light);
            font-weight: 600;
        }
    }

    &__input:focus+&__button {
        background-color: var(--gray-light3);
    }


    &__button {
        height: 50%;
        flex: 0 0 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0 5rem 5rem 0;
        border: none;
        background-color: var(--gray-light1);

        &:active,
        &:focus {
            outline: none;
        }

        &--icon {
            width: 2rem;
            height: 2rem;
            fill: var(--gray3)
        }
    }
}



//////////////////////////////
//User navigation/////////

.usernav {
    flex: 0 0 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 2rem;

    &>* {
        align-self: stretch;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &-iconbox {
        position: relative;
        flex: 1 0 2rem;

        &--icon {
            fill: var(--gray3);
            width: 3rem;
            height: 3rem;
        }

        &:hover {
            background-color: var(--gray-light3);
        }
    }

    &-notification {
        background-color: #df0000;
        color: #fff;
        position: absolute;
        top: 1rem;
        left: 50%;
        padding: .5rem;
        border-radius: 3rem;
        flex: 1 0 auto;

    }

    &__user {

        width: 6rem;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

        &_imgcontainer {
            align-self: stretch;

            &:hover {
                background-color: var(--gray-light3);
            }
        }

        &--img {
            width: 100%;
        }
    }
}



////////////////////////////////////
/////////////Left Navbar ///////////
.navbar-left_list {
    list-style: none;


    &_li {
        margin-top: 1.5rem;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            height: 100%;
            top: 0;
            left: 0;
            width: 3px;
            background-color: var(--color-primary-light);
            transform: scaleY(0);
            z-index: 1;
            transition: transform .2s,
                width .3s cubic-bezier(1, 0, 0, 1) .2s,
            ;

        }

        &:hover::before,
        &--active::before {
            transform: scaleY(1);
            width: 100%;
        }

        &:active::before {
            background-color: rgb(192, 0, 0);
        }
    }


    &_link,
    &_link:link,
    &_link:visited {
        position: relative;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 2rem;
        padding: 1rem 0;
        color: var(--gray-light3);
        display: flex;
        align-items: center;
        z-index: 20;
    }


    &_icon {
        width: 2.5rem;
        height: 2.5rem;
        fill: currentColor;
        margin: 0 2rem;
    }
}

.navbar-left_footer {
    text-decoration: none;
    align-self: center;
    font-size: 1.5rem;
    color: var(--gray-light3);
    display: flex;
    flex-direction: column;
}


///////////////////////////////////
/////////////Images styling///////////
.gallery {
    display: flex;
    flex-direction: row;

    &_img {
        flex: 0 1 33.33334%;
    }

    &_photo {
        width: 100%;
        height: 20rem;
        display: block;
        object-fit: cover;
        object-position: top;

    }

}


///////////////////////////////////
/////////////Overview///////////

.overview {
    display: flex;
    align-items: center;
    background-color: white;

    &_heading {
        font-size: 2rem;
        font-weight: 400;
        margin: 1rem;
    }

    &_stars {
        display: flex;
        align-items: center;
        margin-right: auto;
        margin-left: 2rem;

        &_icon {
            fill: var(--color-primary);
            width: 1.7rem;
            height: 1.7rem;
        }
    }

    &_location {
        margin-right: 2rem;
        display: flex;
        align-items: center;
    }

    &_rating {
        background: linear-gradient(to right bottom, var(--color-primary), var(--color-primary-light));
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &-score {
            color: white;
            font-size: 1.7rem;
            padding: .5rem;
        }

        &-numusers {
            text-transform: uppercase;
            color: white;

            padding: .5rem;
        }
    }
}

///////////////////////////////
////BUttton//////////
.btn-inline {
    border: none;
    font-size: 2rem;
    color: var(--gray1);
    background-color: white;
    padding: .5rem;
    margin-left: 1rem;
    border-bottom: 1px solid currentColor;

    &:hover {
        color: #df0000;
        animation: butt infinite 1s;
    }

    &:focus {
        outline: none;
    }
}

@keyframes butt {
    0% {
        transform: scale(1);
        box-shadow: none;
    }

    50% {
        transform: scale(1.05);
        box-shadow: 0 .5rem 1rem #00000065;
    }

    100% {
        transform: scale(1);
        box-shadow: none;
    }
}


///////////////////////////////////
/////////////Paragraph///////////

.paragraph:not(:last-of-type) {
    margin-bottom: 2rem;
}



///////////////////////////////////
/////////////List///////////

.list {
    list-style: none;
    margin: 3rem 0;
    border-top: 1px solid var(--gray-light);
    border-bottom: 1px solid var(--gray-light);
    display: flex;
    flex-wrap: wrap;

    &_item {
        flex: 0 0 50%;
        text-transform: capitalize;
        margin-bottom: .7rem;
        position: relative;

        &::before {
            content: "";
            display: inline-block;
            margin-right: 1rem;
            height: 1.2rem;
            width: 1.2rem;
            background-image: url(../img/SVG/chevron-right.svg);
            background-color: var(--color-primary);
            mask-image: url(../img/SVG/chevron-right.svg);
            mask-size: cover;
        }
    }
}






///////////////////////////////////
/////////////RECOMEND///////////


.recomend {
    display: flex;
    align-items: center;

    &_count {
        font-size: 1.3rem;
        color: var(--gray2);
        margin-right: auto;
    }


    &_photo {
        display: flex;


    }


    &_pic {
        box-sizing: content-box;
        width: 5rem;
        height: 5rem;
        object-fit: cover;
        object-position: center;
        border-radius: 50%;
        border: .5rem solid white;
        transition: all .3s;

        &:not(:last-child) {
            margin-right: -1rem;
        }

        &:hover{
            transform: scale(1.2);
            z-index: 10;
        }
    }

}


//////////////////////////////
/////////User Reviews/////////

.review {
  


background-color: white;
    box-shadow: var(--shadow);
    margin-bottom: 3rem;
    padding: 2rem;

    &:last-child{
    
    }
    &_text{
        font-size: 1.4rem;
        padding: 2rem;
    }

    &-user{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    &__img{
        width: 8rem;
        height: 8rem;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
    }

}